
a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color: white;
}


/************MENU PRINCIPAL*********************/
.MenuPrincipal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20vh;
    font-size: 40px;
    color: black;
    background: rgb(6, 6, 6);
    z-index: 1;
    padding: 10px;

}

.MenuPrincipal a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 20%;
    
    margin: 10px;
    color: rgb(141, 140, 140);
   
    
    
}

.MenuPrincipal a:hover{
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-size: 25px;
    height: 90px;
    color: rgb(255, 255, 255);
    padding: 0;
    transition: color 0.3s;
    
}


body{
    background: rgb(147, 139, 139);
}





.contenedorPadre{
    width: 300px;
    height: 300px;

}

.caja1Hijo{
    background-color: rgb(19, 5, 28);
    position: relative;
    width: 120px;
    height: 120px;
    top: -20px;
    left: -20px;

}

.caja2{
    background-color: aquamarine;
    position: relative;
    z-index: 1;   /*Para que se superponga a la 3 que hasta ahora estaba con prioridad por el relative*/
    bottom: 20px;
    width: 120px;
    height: 120px;
    display: block;
    text-decoration: underline;
    border: 2px solid rgb(255, 0, 0);
    position: relative;

   
}
.caja3{
    background-color: green;
    position: relative;
    bottom: 20px;
    width: 120px;
    height: 120px;
    display: block;
    text-decoration: underline;
    border: 2px solid rgb(255, 0, 0);
    position: relative;
    
}
.caja4{
    background-color: brown;
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    text-decoration: underline;
    border: 2px solid rgb(255, 0, 0);
    position: relative;
    bottom: 20px;
    
}




.contenedorPadreAbsolute{
    margin: 100px;
    position: relative;
    margin: 50px auto;
    border: 9px solid blue;
    height: 450px;
    width: 450px;
    background: rgb(153, 196, 153);
}
 
div div{   
    height: 75px;
    position: absolute;
    width: 75px;  /*Seleccionamos los divs adentro de divs UNICAMENTE*/       
}

.caja5{                         
    background: crimson;
    bottom: 0;
}

.caja6{
    background: rgb(115, 88, 93);
    right: 0;
}
.caja7{
    background: rgb(49, 81, 71);
    bottom: 0;
    right: 0;
}

.caja8{                                   
    background: rgb(109, 102, 150);
    left: 0;
}


.OverflowAbsolute{
    overflow: auto;
}















body{
    padding: 0;
    margin: 0;
}

h1{                     /*Selecciono por etiqueta*/              
    color: blue;
    line-height: 1;
}

.ClasetituloH1{           /*Selecciono por Clase*/ 
    color: wheat;
}

#IdtituloH1{                /*Selecciono ID*/
    color: aqua;
}


h5{
    color: blueviolet;
}


.color-blue{
    color: blue;
}


.Formulario-contacto__input{
    color: brown;
}

.Formulario-contacto{
    font-size: 20px;
    background-color: black;
    width: 80vw;        /*Ocupa el 50% del width*/
    height: 50vh;        /*Ocupa el 50% del Height*/

}


h2{
    display: inline;        
}
b{
    display: block;
}

.Cajaprueba{
    background-color: chartreuse;
    padding: 10px;
    margin: 20px 20px 30px 52px;
    border-radius: 20%;
    border: 2px solid blue ;
}





.contenedorPadreFixed{
    position: fixed;
    top: 0;
    width: 100vw;
    font-size: 40px;
    color: black;
    text-decoration: none;
    background: rgb(6, 6, 6);
    z-index: 1;
}






.OverflowRelative{
    position: absolute;
    bottom: 150px;
    left: 15%;
    width: 320px;
    height: 250px;
    border: 4px solid rgb(0, 0, 0);
    background: rgb(143, 128, 128);
    text-shadow: 4px;
    overflow: auto;
}

.OverflowAbsolute{
    position: absolute;
    top: 125%;
    left: 70%;
    width: 320px;
    height: 250px;
    border: 4px solid rgb(0, 0, 0);
    background: rgb(143, 128, 128);
    text-shadow: 4px;
    overflow: auto;
}

.OverflowFixed{
    position: absolute;
    top: 20%;
    left: 70%;
    width: 320px;
    height: 250px;
    border: 4px solid rgb(0, 0, 0);
    background: rgb(143, 128, 128);
    text-shadow: 4px;
    overflow: auto;
}
.H1Fixed{
    margin-left: 70%
}



.grid-container1{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.grid-container1 div{
    width: 100px;
    height: 100px;
    background: #292929;
    text-align: center;
}
  
.grid-item1{
    grid-column: 2/1;
    grid-row: 1;
}
.grid-item2{
    grid-column: 3;
    grid-row: 4;
}









/****************************PAGINA2***********/


.cajaBlock1{
    width: 150px;
    display: inline-block;
    margin: 20px;
    height: 150px;
    border: 10px solid rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.OverflowInlineBlock{
    overflow: auto;
    position: absolute;
    left: 60%;
    top: 10%;
    width: 320px;
    border:2px solid black;
    height: 250px;
}


b{
    display: inline;
    margin: 20px;
}

.cajaBlock2{
    width: 150px;
    display: block;
    margin: 5px;
    height: 150px;
    border: 10px solid rgb(255, 255, 255);
    background: rgb(0, 0, 0);

}

.OverflowBlock{
    width: 30vw;
    position: absolute;
    left: 40%;
    top: 600px;
    height: 20vh;
    overflow: auto;
    border: 2px solid black;
}

.Enlinea{
    display: inline;
}

.OverflowINLINE{
    overflow: auto;
    width: 30vw;
    height: 20vh;
    border: 2px solid black;
}

.TextoPseudo {
    display: relative;
    font-family: Arial, sans-serif; /* Fuente del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 1.6; /* Altura de línea */
    color: #292929; /* Color del texto */
    margin: 0; /* Eliminar margen predeterminado */
    padding: 20px; /* Espacio alrededor del contenido */

}

.TituloPseudo{
    color: rgb(255, 0, 0);
}

.TextoPseudoFirstLine::first-line{
    color: blueviolet;
    display: relative;
    font-family: Arial, sans-serif; /* Fuente del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 1.6; /* Altura de línea */
    margin: 0; /* Eliminar margen predeterminado */
    padding: 20px; /* Espacio alrededor del contenido */

}



form{
    margin: 20px auto;
    display: block;
    background: rgb(107, 107, 107);
    width: 50%;
    padding: 100px;

}

input{
    padding:6px;
    width: 100%;
    padding: 0;
}

input::placeholder{
    color: blue;
}


b::before{
    content: "Hola";
    color: red;
}

b::after{
    content: "Joaquin";
    color: aliceblue;
}



.HoverCaja{
    font-size: 20px;
    height: 100px;
    width:100px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
}

.HoverCaja:hover{
    font-size: 30px;
    height: 150px;
   
    width:150px;
    background: rgb(242, 7, 7);
}

a{
    font-size: 20px;
}

.LinkA:link{
    color: white;
}

.LinkA:visited{
    color: rgb(7, 65, 255);
}


.Cajaactive{
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    background: white;
}

.Cajaactive:active{
    background: black;
    transition: 0.1s;
}


.Inputfocus{
    width: 40vw;
    height: 5vh;
    background: rgb(67, 64, 64);
    border: 3px solid black;
    transition: all 1s;
}

.Inputfocus:focus{
    background: white;
    width: 80vw;
}
